button{
	background-color: rgb(42, 107, 211);
	color: white;
	padding:10px;
	border:0;
	margin:2px;
}
button:hover{
	background-color:rgb(71, 142, 255);
}
label{
	font-size:1.3em;
}
input{
	margin-bottom:5px;
	font-size:1em;
}